@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	--tw-bg-opacity: 1;
	background-color: rgb(2 6 23 / var(--tw-bg-opacity)) /* #020617 */;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
